html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
    background-color: rgb(58, 73, 87);
}

#calculator-container{
    display: flex;
    width: 300px;
    height: 450px;
    padding: 100px;
    background-color: rgb(203, 204, 116);
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    
}
    #display{
        text-align: end;
    }
        #display > div {
            border-radius: 12px;
            background-color: rgb(111, 159, 161);
            height:70px;
            width: 100%;
            padding:10px;
            text-align: end;
            margin-bottom: 5px;
            font-size: 35px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
            
        }

    #interface-grid{
        display: grid;
        grid-template-columns: auto auto auto auto;
        background-color: rgb(39, 36, 51);
        width:100%;
        padding:4px;
        border-radius: 12px;
        font-weight: bold;
    }
        #interface-grid > div {
            display:flex;
            align-items: center;
            justify-content: center;
            margin:4px;
            height: 58px;
            border-radius: 15px;
            
        }
        .numbers {
            background-color: rgb(235, 235, 235);
            width: 58px;
        }
            
        .operators{
            background-color: gray;
            width: 58px;
        }
        .clear,
        .equals{
            background-color: orangered;
        }
    
        #equals{
            grid-column: span 2;
        }

        